@{
    ViewData["Title"] = "Music Recogniser";
    
    List<(string, string, string)> videos = new List<(string, string, string)>();
    videos = (List<(string, string, string)>)ViewData["videos"]; 
}

@using (Html.BeginForm("Test","Home", FormMethod.Post))
{
    <div class="row">
        <div>
            <h2>Music Recogniser</h2>
            <input type = "text" name="URL" id = "URL" placeholder="YouTube link...">
            <button type="submit" class="btn">Search Music</button>
            <p></p>
            <p>@ViewData["message"]<i>@ViewData["artist"]</i></p>
            <p></p>
            <table class = "table">
                @foreach (var video in videos)
                {
                    <tr><td><a href=@video.Item2><img class="img-responsive" src=@video.Item1>@video.Item3</a></td></tr>
                }
            </table>
        </div>
    </div>
}